body{
    margin: auto;
    padding: auto;
}

.joke{
    margin-top: 500px;
}

.error{
    margin-top: 100px;
}

.crotte{
    margin-top: 800px;
    text-align: center;
}

.p1{
    text-align: center;
}